<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>API_KEY</key>
    <string>AIzaSyAdpbR4s0uwP-ByMueVCFhiHaQWL3fBdBA</string>
    <key>GCM_SENDER_ID</key>
    <string>651133788986</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>nl.aquilasoft.reclamefolder2</string>
    <key>PROJECT_ID</key>
    <string>reclamefolder2</string>
    <key>STORAGE_BUCKET</key>
    <string>reclamefolder2.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false/>
    <key>IS_ANALYTICS_ENABLED</key>
    <true/>
    <key>IS_APPINVITE_ENABLED</key>
    <true/>
    <key>IS_GCM_ENABLED</key>
    <true/>
    <key>IS_SIGNIN_ENABLED</key>
    <true/>
    <key>GOOGLE_APP_ID</key>
    <string>1:651133788986:ios:1988ae19a0cf417f1ce603</string>
</dict>
</plist>

